
<div class="banner" es-parallax="{speed: 1.25}">
    <div class="client" es-parallax="{speed: 2.5, align: 'right'}">
        <div class="container">

                <h1 style="display:none;">
                    The fastest and <span class="nowrap">most secure</span> <br class="visible-xs">way to sign<div class="hidden-xs"> </div>...<br class="visible-xs">and it's FREE.
                </h1>

                <h1>
                    The fastest and <span class="nowrap">most secure</span> <br class="visible-xs">way to sign.<div class="hidden-xs"> </div><br class="visible-xs">And it's FREE.
                </h1>
            
            <div class="file-drop-container">
                <div class="file-drop">
                    <div>
                        <span class="hidden-xs">Drop document here or <a>click to browse</a><br></span>
                        <span class="visible-xs"><a>Upload<br>document</a></span>
                        <i class="fa fa-cloud-upload fa-2x"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="banner-footer" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <span es-counter="{delay: 50, time: 5000}" class="counter">170,00</span> +<br>uploads.
            </div>
            <div class="col-xs-6 col-sm-3">
                <span es-counter="{delay: 50, time: 4000}" class="counter">420,500</span> +<br>documents signed.
            </div>
            <div class="col-xs-6 col-sm-3">
                <span es-counter="{delay: 50, time: 6000}" class="counter">656,500</span> +<br>signatures.
            </div>
            <div class="col-xs-6 col-sm-3">
                <span es-counter="{delay: 50, time: 3000}" class="counter">3</span><br> simple steps.
            </div>
        </div>
    </div>
</div>

<div class="banner-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <span es-counter="{delay: 50, time: 4000}" class="counter nine">100,023,176</span> eSignatures <span class="nowrap">and counting...</span> <br class="visible-xs"><button class="btn btn-primary" type="button">See It Now</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-4 fade-in" es-fade-in>

            <h2><i class="fa fa-gavel fa-2x color-l-blue"></i> It's Legal</h2>
            
            <p>Any document signed using eSign's quick and easy process is completely legal, confidential and secure.</p>

            <p>eSign's process complies with all <a href="http://www.gpo.gov/fdsys/pkg/PLAW-106publ229/content-detail.html" target="_blank">federal standards and requirements for eSignatures</a>.</p>
            
            <p>eSigned documents are as legally effective, legitimate and binding as paper documents.</p>

            <p><a href="#">Learn More</a></p>

        </div>

        <div class="col-md-4 fade-in odd" es-fade-in>

            <h2><i class="fa fa-lock fa-2x color-l-yellow"></i> It's Secure</h2>
            
            <p>eSign maintains the highest security protocols in the industry. The security and privacy of your data and documents is continuously maintained.</p>

            <p>eSignatures are date and time stamped, capturing every detail of the signing process.</p>

            <p>Documents signed via eSign's process are unique and their embedded data make them more secure than an ink signature on paper.</p>
            
            <p><a href="#">Learn More</a></p>        

        </div>

        <div class="col-md-4 fade-in" es-fade-in>

            <h2>
                <i class="fa fa-tablet fa-2x color-l-green hidden-md hidden-lg" style="display: none;"></i>
                <i class="fa fa-desktop fa-2x color-l-green hidden-xs hidden-sm" style="display: none;"></i> 
                <i class="fa fa-cogs fa-2x color-l-green"></i>
                How It Works</h2>
            
            <p>The steps are simple.</p>

            <ol>
                <li>Select and upload your documents - then put signature boxes right where you want them. 
                <li>eSign sends your documents to your signers. 
                <li>You're notified when your signed document is ready.
            </ol>

            <p>Get any document signed in seconds!</p>
            
            <p><a href="#">Learn More</a></p>        

        </div>

    </div>
</div>